* {
    font-family: "Roboto", sans-serif;
    /* border: 2px solid lime;  */
}


/* end of base styles */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
}


.container {
    box-sizing: border-box;
    width: 100%;
    /* height: 25vh; */
    padding-left: 10vw;
    padding-right: 10vw;
    overflow: hidden;
}


.hero-container {

    /* border: 2px solid red; */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    width: 100%;
    justify-content: space-between;
    max-height: fit-content;
    flex-wrap: wrap;
    gap: 3rem;
    padding-bottom: 3rem;

}

#hero-content {
    /* border: 2px solid red; */
    display: flex;
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
    align-items: center;

}

.header-link-container {
    /* border: 2px solid green; */
    display: flex;
    gap: 1rem;
    font-size: 18px;
    color: #E5E7EB;
    align-items: center;
    flex-shrink: 1;
}

.header-link {
    flex-shrink: 1;
}

.nav-bar {
    box-sizing: border-box;
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    flex-wrap: wrap;

}

.website-info {
    /* border: 2px solid blue; */
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;


}

h1 {
    margin-top: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}


#sign-up-button {
    background-color: #3882f6;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    border-radius: 8px;
    margin-top: 1rem;
    border: 2px solid white;
}

.website-text {
    /* border: 2px solid violet; */
    width: 100%;
    min-width: 20rem;
    /* max-width: 40vw; */
    flex: 1;
}

.website-img {
    /* border: 2px solid red; */
    display: flex;
    width: auto;
    height: 20rem;
    min-width: 10rem;
    min-height: 20rem;
    /* max-width: 80vw; */
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}


.feature-section {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

h2 {
    font-weight: 800;
    font-size: 36px;
    color: #1F2937;
    /* padding-top: 2rem;
    padding-bottom: 2rem; */

}

.featured-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;

}

.square-feature-container {
    display: flex;
    flex-direction: column;
    width: min-content;
    align-items: center;
    justify-content: center;

}

.square {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin-bottom: 10px;
    border: 5px solid #3882f6;
}

.square-text {
    /* border: 2px solid red; */
    text-align: center
}



.quote-section {
    /* border: 2px solid red; */
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #E5E7EB;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text {
    /* border: 2px solid red; */
    width: 100%;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    /* align-self: center; */
}

.quoter {
    text-align: end;
    /* display: flex; */
    width: 100%;
    /* justify-content: end;
    align-items: end; */
    margin-top: 10px;
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
}


.call-to-action {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.blue-container {
    box-sizing: border-box;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    width: 100%;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;
}

.action-container {
    display: flex;
    flex-direction: column;
    color: white;
    flex-shrink: 1;
}

.action {
    font-size: 24px;
    font-weight: bold;
    flex-shrink: 1;
}


.footer {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
    size: 18px;
}